<main>
  <div [routerLink]="['/home']" class="home-link">
    <i class="fa-solid fa-house"></i><span></span>
  </div>
  <div class="search" [ngClass]="{ expand: expandSearch }">
    <input
      type="text"
      name=""
      id=""
      placeholder="Search..."
      (keyup.enter)="getResults()"
    />
    <button id="search" (click)="search()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <div class="loading" *ngIf="isLoading">Finding Results...</div>
  <div class="search-results" *ngIf="searchResults !== null">
    <div class="loading" *ngIf="searchResults === 0">
      No Results! <i class="fa-regular fa-face-sad-cry"></i>
    </div>
    <div class="loading" *ngIf="searchResults === 1">
      Results Found! <i class="fa-regular fa-face-laugh-beam"></i>
    </div>
  </div>
</main>
