nav {
  position: fixed;
  bottom: 30px;
  left: 0px;

  ul {
    list-style: none;

    li {
      color: white;
      margin: 1rem 0;
      transform: translateX(-150%);

      i {
        margin-right: 0.5rem;
      }
    }
  }

  &.open-nav {
    ul {
      li {
        transform: translateX(0%);
        transition: 0.4s linear;
        cursor: pointer;
        text-transform: uppercase;

        &:nth-child(2) {
          transform: translateX(15%);
        }
        &:nth-child(3) {
          transform: translateX(30%);
        }
      }
    }
  }
}
