<main>
  <div class="login-container">
    <h2>Login</h2>
    <form>
      <div class="form-control">
        <input type="text" id="email" required />
        <app-form-wave-label [label]="'Email'"></app-form-wave-label>
      </div>
      <div class="form-control">
        <input type="password" id="password" required />
        <app-form-wave-label [label]="'Password'"></app-form-wave-label>
      </div>
      <button>Login</button>
    </form>
    <p>Don't have an account? <a href="#">Register</a></p>
  </div>
</main>
