<div class="content">
  <h3>Something Happening</h3>
  <small>Mia Ma</small>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique vitae,
    eius ullam eveniet quo numquam, inventore laudantium dolorum nesciunt
    molestias quisquam minima reprehenderit. Perspiciatis ea assumenda modi
    optio, soluta itaque. Nostrum laudantium quam beatae, eveniet, alias ipsa,
    sint ipsam fuga ratione quasi neque magni dolorum quidem illo assumenda
    iusto quo delectus tempore nobis optio voluptatem perferendis autem odit.
    Laborum, repellendus? Facere recusandae nostrum inventore earum
    exercitationem esse, asperiores explicabo doloremque nulla voluptas dolorum,
    aperiam cum et, quam voluptates a labore sapiente pariatur. Rerum
    consequatur nostrum, eius ea iste magnam reiciendis?
  </p>
  <h4>Fresh News</h4>
  <img
    src="https://images.unsplash.com/photo-1439127989242-c3749a012eac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNoZXJyaWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60"
  />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, animi
    illum repellendus voluptatem vitae iure corporis eveniet officia aspernatur
    earum, dignissimos repellat soluta ea impedit cumque consequatur tempora
    vero ad? Ipsam excepturi tempora temporibus quisquam deleniti, quam itaque
    quasi culpa consequatur. Expedita temporibus quidem porro reprehenderit
    velit mollitia, autem libero iure dignissimos ad consectetur cumque
    voluptatem aspernatur incidunt, quod error. Modi incidunt minus earum esse
    facere repudiandae error fugiat expedita eligendi! Perspiciatis unde placeat
    minima! Pariatur fugit asperiores laborum architecto rerum veritatis
    mollitia deleniti, dolor dolores aliquid! Suscipit, reiciendis tempora.
    Delectus sunt cupiditate animi quia, voluptatum, consequatur ea porro at
    hic, veniam alias repellendus. Totam eaque labore ea dicta possimus
    molestiae id et earum autem fugiat voluptates, quidem qui animi. Ipsum est
    dolorem necessitatibus quas architecto, sapiente, repudiandae facere, ut
    totam fuga porro consequuntur provident similique autem laborum numquam nam
    quam quo quia pariatur minus esse et iure. Est, perspiciatis! Nostrum nemo
    obcaecati assumenda eveniet voluptas ullam, placeat cupiditate debitis
    incidunt quod veritatis aspernatur maxime dolorum facere accusamus quisquam?
    Vitae aperiam atque illum eius corrupti fugit, voluptate explicabo molestiae
    cupiditate! Laborum doloribus error numquam cumque saepe quo aut possimus
    consectetur voluptates laudantium recusandae nihil hic vel nam dolores
    tempore maxime magni, quaerat a eius odio. In quos neque iusto. Distinctio!
    Iure, architecto quae ex placeat officiis tenetur quam consectetur maiores?
    Inventore officia vitae animi sunt placeat tempore error nam minus
    voluptatem doloribus praesentium, eveniet sit quis soluta quaerat, quasi
    dolorem! Deserunt explicabo vel ut a quisquam aliquid nisi similique
    voluptas dolorem cumque ipsam, repellendus consectetur mollitia cum, porro
    sequi fuga cupiditate. Nulla, magni consequatur ullam deserunt perspiciatis
    voluptas voluptatum assumenda. Esse perspiciatis nisi nulla sed libero
    itaque modi corporis nemo dignissimos. Iste hic aperiam cumque unde,
    inventore fugit, iure optio praesentium magni, itaque temporibus dolores
    sequi quaerat doloremque iusto delectus.
  </p>
</div>
