<main>
  <nav [ngClass]="{ active: isActive }">
    <div [routerLink]="['/home']" class="home-link">
      <i class="fa-solid fa-house"></i><span>Forever Home</span>
    </div>
    <ul>
      <li>About</li>
      <li>Contact</li>
      <li>Features</li>
      <li>More</li>
    </ul>
  </nav>
  <div class="container">
    <div class="hero">
      <h1>Brain Cogs Distributed</h1>
      <p>
        Turning the minds of never ending unity as the spiraling stairs of never
        ending victory and prosperity amongst all
      </p>
    </div>
    <section>
      <h3>Content 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
        repudiandae nostrum harum eveniet, nemo voluptatibus odit consequuntur
        magni inventore consequatur expedita unde quos facilis accusamus
        perspiciatis ipsam fugiat, cumque fugit suscipit delectus ut?
        Exercitationem reiciendis nihil, officia, eveniet consequuntur
        consequatur sint modi hic perspiciatis expedita ducimus, est nam
        blanditiis dignissimos. Praesentium quod beatae laborum. Sunt temporibus
        perspiciatis consectetur nemo quos cum optio hic velit totam labore sed,
        maiores enim, similique officia laudantium accusamus iure id veritatis
        aliquid accusantium aspernatur. Impedit praesentium quasi, eaque
        deserunt voluptate aspernatur minima cumque nam quas exercitationem
        possimus laborum reprehenderit delectus odit corporis officiis
        consectetur. Numquam quam nostrum dolore? Perspiciatis voluptatibus
        minus cum totam iusto, perferendis placeat ullam suscipit eius sequi
        eaque a aspernatur nobis esse modi, possimus iste quaerat architecto
        quibusdam. Voluptas sequi minus quos labore, omnis placeat! Labore,
        deleniti autem, ea corporis voluptates saepe quo hic quam nihil animi,
        quae vitae porro ullam. Officia nesciunt aliquid atque natus impedit
        esse illum reiciendis, eius quisquam temporibus rem necessitatibus quas
        at explicabo! Recusandae maiores esse quasi quisquam quibusdam saepe
        mollitia quis laborum sunt eius debitis similique nostrum ipsa
        praesentium veniam exercitationem necessitatibus voluptatum tenetur
        aliquid quas sint corrupti aspernatur, reprehenderit vitae. Tenetur
        quidem laborum repellendus ratione sunt earum laboriosam ipsa voluptas
        expedita. Sed nobis dignissimos autem sequi dolores quia ducimus
        repudiandae amet magnam odit facere aliquam repellendus consequuntur ab
        ad doloribus similique maiores vel pariatur quos sint, ratione, in
        voluptas at. Ipsum beatae rerum repellendus? Provident, eaque obcaecati
        explicabo asperiores unde tempora impedit nobis cum aspernatur est amet
        tenetur? Nostrum saepe consequuntur commodi neque officia minus,
        aspernatur blanditiis laboriosam? Incidunt, consectetur obcaecati quidem
        quod odit inventore ullam repellat ipsam, eos ducimus ea nam magnam
        laboriosam cumque tempore soluta similique quisquam velit omnis
        molestiae rerum corporis maxime, accusantium harum. Ab obcaecati qui
        nemo praesentium, reiciendis magnam quasi alias consequatur quaerat
        minima consequuntur earum veniam iusto aliquid ut iste voluptas delectus
        nobis consectetur fugit. Eligendi illo autem, suscipit voluptatum cum
        nisi commodi saepe assumenda sed sapiente a asperiores, deserunt labore,
        quas minima! Minima molestiae distinctio aliquid itaque hic officiis
        pariatur, unde molestias error qui incidunt iusto maiores eaque,
        sapiente quae assumenda! Consectetur voluptatum voluptas aliquam
        quibusdam sunt nobis reprehenderit repellendus, totam molestiae, ad
        culpa eaque non facilis quidem! Animi aliquid at voluptate esse suscipit
        rerum nesciunt labore, exercitationem ut cumque aliquam assumenda.
        Veniam quam ut iure illum ipsam, quod omnis! Eaque, quisquam! Numquam
        minima perferendis aut recusandae delectus?
      </p>
      <h4>Sub Content 1</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, culpa
        animi? Est deserunt mollitia minus assumenda earum et consequatur
        corrupti doloribus accusantium ipsa maxime, libero veritatis debitis eum
        quam officiis vitae voluptas animi sint sequi facere laborum quas quasi?
        Suscipit sequi repellat in quaerat nisi id odio error eligendi sunt
        facere distinctio cum, corporis, totam ducimus, impedit aspernatur
        exercitationem! Quam consectetur quas quos sapiente. Nam maxime incidunt
        totam dicta labore amet, ullam nostrum magni exercitationem voluptas
        impedit, ipsa nesciunt nobis neque est, accusantium sed animi
        perspiciatis ducimus nisi modi eveniet. Doloremque iste odit quia illum
        nam quisquam eum esse accusantium cupiditate enim? Quibusdam commodi
        nam, possimus incidunt iusto excepturi totam quos iure laborum fuga
        mollitia tempore nihil deleniti dolorem quas, odit ipsa eum cupiditate
        tenetur libero dicta explicabo unde dolor tempora! Suscipit maiores est
        dolores, saepe error quae dolore rerum tenetur vero temporibus autem
        officiis aliquid quisquam fugit velit, eum repellendus ad libero minima
        debitis quod assumenda. Numquam quia deserunt dolorum expedita ea
        voluptatibus optio dolore delectus eligendi reiciendis dolorem est
        cumque totam amet, sed perferendis consequuntur blanditiis quam dolores
        facere. Placeat quam architecto laborum accusamus. Quia magni quasi
        quae, a accusantium tempore reiciendis perspiciatis alias. Accusamus
        debitis fugit laborum.
      </p>
    </section>
  </div>
</main>
