.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 2.5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //   filter: blur(10px);
  display: none;

  img {
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    height: 60%;
    width: 50%;

    &:hover {
      transform: scale(1.02);
      transition: 0.3s ease-in-out;
    }
  }

  &.active {
    display: flex;
  }
}
