.image-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  //   filter: blur(10px);

  img {
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    height: 50%;
    width: 50%;
  }
}
