main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-link {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rebeccapurple;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 250px;
  text-align: center;
  margin-top: 5rem;

  textarea {
    min-width: 250px;
    font-family: inherit;
  }

  .choices {
    margin-top: 1rem;
    text-align: start;

    .choice {
      display: inline-block;
      border: 1px solid rebeccapurple;
      padding: 0.25rem 0.75rem;
      color: white;
      background-color: rebeccapurple;
      margin: 0 0.5rem 0.5rem 0;
      transition: 0.2s ease-in;
    }
  }
}
