main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(169, 26, 204);
  padding: 1rem 1.5rem;
  letter-spacing: 2px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
