main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .home-link {
    min-width: calc(100vw - 1rem);
    text-align: center;
    padding: 0.5rem;
    color: black;
    background-color: white;
    box-shadow: 0 3px 6px rgba($color: black, $alpha: 0.1),
      0 3px 6px rgba($color: black, $alpha: 0.1);
    position: fixed;
    top: 0px;
  }
}

button {
  background-color: rgb(169, 26, 204);
  padding: 1rem 1.5rem;
  letter-spacing: 2px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 50px;

  &:focus {
    outline: 0;
  }
}

.circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  opacity: 0;
  animation: scale-anim 0.75s ease-in-out;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes scale-anim {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3);
  }
}
