$dark-green-color: #055d49;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // background-color: darken($color: $dark-green-color, $amount: 10);
  overflow: scroll;
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

  nav {
    background-color: white;
    border: 3px solid white;

    ul {
      list-style: none;
      padding: 0rem;
      margin: 0rem;

      li {
        cursor: pointer;
        padding: 1rem;

        &:hover {
          background-color: $dark-green-color;
          color: white;
          transition: 0.5s cubic-bezier(0.56, 0, 0.98, 0.13);
        }
      }
    }
  }
}
