main {
  min-height: 100vh;
  min-width: 100vw;

  .home-link {
    min-width: calc(100vw - 1rem);
    text-align: center;
    padding: 0.5rem;
  }
}

.images {
  position: relative;

  button {
    background-color: rgba($color: white, $alpha: 0.3);
    border: 1px solid white;
    position: absolute;
    color: white;
    cursor: pointer;
    padding: 1rem;
    z-index: 3;

    &.prev-btn {
      top: 50%;
      left: 2%;
    }

    &.next-btn {
      top: 50%;
      right: 2%;
    }
  }
}

@media (max-width: 580px) {
  .images {
    button {
      padding: 0.5rem;
    }
  }
}
