.movie-container {
  height: 400px;
  width: 250px;
  overflow: hidden;
  margin: 1rem;
  border: 1px solid black;
  position: relative;
  background-color: rgba($color: black, $alpha: 0.3);

  img {
    width: inherit;
    height: 300px;
  }

  .movie-info {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    color: white;
    align-items: flex-start;

    .movie-rating {
      border: 1px solid rgb(56, 56, 56);
      color: white;
      // align-self: flex-start;
      // background-color: black;
      padding: 0 0.5rem;

      &.good {
        background-color: green;
        border: 1px solid green;
      }
      &.okay {
        background-color: rgb(230, 173, 0);
        border: 1px solid rgb(230, 173, 0);
      }
      &.bad {
        background-color: red;
        border: 1px solid red;
      }
    }
  }

  .about {
    background-color: white;
    color: black;
    position: absolute;
    padding: 0.5rem;
    // top: 400px;
    bottom: 0px;
    // top: 0px;
    left: 0px;
    right: 0px;
    max-height: 100%;
    transform: translateY(101%);

    &.show {
      transform: translateY(0%);
    }

    div {
      text-align: center;
    }
  }

  &:hover {
    .about {
      transition: 0.3s ease-in;
      transform: translateY(0%);
    }
  }

  .about-link {
    visibility: hidden;
    background-color: rgba($color: white, $alpha: 0.1);
    width: inherit;
    color: white;
    text-align: center;
    position: absolute;
    // top: 376px !important;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

@media (max-width: 580px) {
  .movie-container {
    .about-link {
      visibility: visible;
      background-color: rgba($color: white, $alpha: 0.1);
      width: inherit;
      color: white;
      text-align: center;
      position: absolute;
      // top: 376px !important;
      bottom: 0px;
      // top: 0px;
      left: 0px;
      right: 0px;
    }
  }
}
