<div
  class="movie-container"
  *ngIf="movie"
  (mouseenter)="showAbout = true"
  (mouseleave)="showAbout = false"
>
  <img
    [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path"
    [alt]="movie.original_title"
  />
  <div class="movie-info">
    <div class="movie-title">{{ movie.original_title }}</div>
    <div
      class="movie-rating"
      *ngIf="movie.vote_average"
      [ngClass]="{
        good: movie.vote_average >= 7.5,
        bad: movie.vote_average < 5,
        okay: movie.vote_average >= 5 && movie.vote_average < 7.5
      }"
    >
      {{ movie.vote_average }}
    </div>
  </div>
  <div class="about-link" (click)="showAbout = true">
    About <i class="fa-solid fa-angle-up"></i>
  </div>
  <div
    class="about"
    [ngClass]="{ show: showAbout }"
    (click)="showAbout = false"
  >
    <div>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div>{{ movie.overview }}</div>
  </div>
</div>
